@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Philosopher');

#index{
	background: #ddd;
	background-image: url("assets/blueprint.jpg");
	background-size: cover;
}

#contact{
	background: black;
	background-image: url("assets/mountain.jpg");
	background-size: cover;
	color: white;
}

#about{
	background: #ddd;
	background-image: url("assets/mountain2.jpg");
	background-size: cover;
	
}

/******************************** Buttons and Controls *******************************/
nav{
	font-family: 'Philosopher', sans-serif;
}


h1{
	padding-top: 12%;
	font-family: 'Philosopher', sans-serif;
	color: white;
	font-size: 6.5em;

}

#controls{
	padding-top: 30px;
	margin-left: -35px;
}

#controls ul li{
	display: inline;
	list-style-type: none;
}

#main-input{
	margin-top: 5%;
	margin-left: 40px;
	margin-bottom: 40px;
	width: 50%;
}

button{
	margin: 15px;
	border-radius: 3px;
}

img{
	width: 20%;
	border-radius: 10px;
	margin: 0 30px 30px 0;
	float: left;
}


/************************************ View ***********************************/

.list{
	background: rgba(255, 255, 255, .7);
	border-radius: 3px;
	padding: 20px;
	visibility: hidden; 

}

.list ul li{
	font-family: 'Amatic SC', cursive;
	font-size: 2.0em;
	list-style-type: none;
	padding-right: 5px;
}

.list ul li button{
	padding-bottom: 5px;
}

.holder{
	background: rgba(255, 255, 255, .6);
	padding: 20px;
	border-radius: 5px;
	font-size: 1.2em;
}
.holder-dark{
	background: rgba(0, 0, 0, .6);
	padding: 20px;
	border-radius: 5px;
	font-size: 1.2em;
}

li{
	list-style-type: none;
}

#about h3{
	margin-right: 35px;
	margin-bottom: -10px;
}

#links li{
	display: inline;
	margin: 0 10px 0 10px;
}